node_modules/
.metadata/
*.class
build/**/*
UofTHacks/build/
*.pyc
/backend/uofthacks/index/lib/
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
